@charset "UTF-8";

.header-jc {
    justify-content: space-between;
}

.header-categ-box {
    padding-bottom: 13px;
}

.list-cl {
    margin-top: 4px;
}

.li-header-categ {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}


.li-gr {
    /* grid-template-columns: repeat(6, minmax(60px, auto)); */
    grid-template-rows: repeat(3, minmax(24px, auto));
    grid-row-gap: 1%;
    grid-column-gap: 2%;
    align-items: center;
    grid-template-areas:
        "pic ct ct . . ht"
        "pic subj subj subj subj ht"
        "pic mem dt dt dt ht"
}

.li-categ {
    grid-area: ct;

}

.li-pic {
    grid-area: pic;
    grid-area: pic;
    background-image: url(../../../../images/member/stuff/chick.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    width: 54px;
    height: 54px;

    display: inline-block;
    overflow: hidden;
    text-indent: -999px;
    justify-self: center;
    align-self: center;

}

.li-header-categ {
    margin: auto;
    margin-left: 0px;

}

.li-subj {
    grid-area: subj;
    font-size: 0.8rem;
}

.li-member {
    grid-area: mem;
    font-size: 0.5rem;
}

.li-date {
    grid-area: dt;
    font-size: 0.5rem;
}

.li-heart {
    justify-self: center;
    align-self: center;
    grid-area: ht;
    width: 14px;
    height: 14px;
    background-size: auto;
}

/* -----사이드바--- */

.side-bar {
    margin-left: 70%;
    height: 640px;
    border: 1px solid rgb(219, 219, 219);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   
}

.icon-close{
    margin-left: 80%;
    display: flex;
    color: gray;

}

.welcome{
    margin-top: 30%;
    margin-left: 25%;
}

.side-menu {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.sidebar-padding{
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 0.8rem;
}